# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/

# Static files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py